<router-outlet *ngIf="isLoginPage"></router-outlet>

<div *ngIf="!isLoginPage" style="display: flex; height: 100vh; overflow: hidden;">

  <app-sidebar-market *ngIf="isMarketSection"></app-sidebar-market>
  <app-sidebar *ngIf="!isMarketSection"></app-sidebar>

  <div class="main-content"
       style="flex-grow: 1; display: flex; flex-direction: column; min-width: 0; background-color: #f8fafc; height: 100vh;">

    <app-header style="flex-shrink: 0; z-index: 100;"></app-header>

    <div #scrollContainer
         style="flex-grow: 1;
                overflow-y: auto;
                padding: 20px;
                position: relative;">

      <router-outlet></router-outlet>

    </div>

  </div>

</div>
