<div class="market-container">

  <header class="market-header">
    <h2>Tutti gli asset: {{ currentType === 'STOCK' ? 'Azioni' : currentType }}</h2>
  </header>

  <div *ngIf="loading" class="loading-state">Caricamento listino...</div>

  <div class="tv-list" *ngIf="!loading && assets.length > 0">

    <div class="tv-row header-row">
      <div class="col-symbol">Simbolo</div>
      <div class="col-price">Prezzo</div>
      <div class="col-change">Variazione</div>
      <div class="col-action"></div>
    </div>

    <div *ngFor="let asset of assets" class="tv-row item-row">


      <div class="col-symbol"
           [routerLink]="['/chart', asset.symbol]"
           title="Clicca per vedere il grafico"
           style="cursor: pointer;">

        <img [src]="asset.logoUrl || 'https://cdn-icons-png.flaticon.com/512/777/777242.png'" class="small-logo">
        <div class="symbol-info">
          <span class="ticker">{{ asset.symbol }}</span>
          <span class="full-name">{{ asset.name }}</span>
        </div>
      </div>

      <div class="col-price">
        {{ asset.currentPrice | currency:'USD':'symbol':'1.2-2' }}
      </div>

      <div class="col-change">
        <span class="badge" [class.up]="asset.changePercent >= 0" [class.down]="asset.changePercent < 0">
          {{ asset.changePercent > 0 ? '+' : ''}}{{ asset.changePercent | number:'1.2-2' }}%
        </span>
      </div>

      <div class="col-action">
        <button class="btn-trade">Scambia</button>
      </div>

    </div>
  </div>

</div>
