<header class="top-bar">
  <div class="spacer"></div>

  <nav class="toggle-container">

    <a routerLink="/dashboard"
       [class.active]="router.url.includes('/dashboard')
                     || router.url.includes('/movimenti')
                     || router.url.includes('/groups')
                     || router.url.includes('/wallet')
                     || router.url.includes('/settings')
                     || router.url.includes('/profilo')
                     || router.url.includes('/gestioneWallet')
                     || router.url.includes('/chi-siamo')"

       class="toggle-btn">
      Gestione Finanze
    </a>

    <a routerLink="/market"
       [class.active]="router.url.includes('/market') || router.url.includes('/portfolio')"
       class="toggle-btn">
      Investimenti
    </a>
  </nav>

  <div class="user-profile">
    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login" class="login-btn">Accedi</a>
    </ng-container>

    <div class="logged-user-container" *ngIf="isLoggedIn">
      <div class="avatar-circle-btn" (click)="toggleMenu()">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
      </div>

      <div class="dropdown-menu" *ngIf="showMenu">
        <div class="menu-header">Account</div>
        <a routerLink="/profilo" (click)="showMenu = false">profilo</a>
        <div class="menu-divider"></div>
        <a routerLink="/gestioneWallet" (click)="showMenu = false">Gestione Wallet</a>
        <div class="menu-divider"></div>
        <a routerLink="/settings" (click)="showMenu = false">impostazioni</a>
        <div class="menu-divider"></div>
        <a (click)="logout()" class="logout-text">Logout</a>
      </div>
    </div>
  </div>
</header>
