<header class="top-bar">
  <div class="spacer"></div>

  <nav class="toggle-pill">

    <a routerLink="/dashboard"
       [class.active]="router.url.includes('/dashboard') || router.url.includes('/movimenti')"
       class="toggle-btn">
      Gestione Finanze
    </a>

    <a routerLink="/market"
       [class.active]="router.url.includes('/market')"
       class="toggle-btn">
      Investimenti
    </a>
  </nav>

  <div class="user-profile">
    <span *ngIf="!isLoggedIn" class="login-label">Accedi</span>

    <a routerLink="/login" *ngIf="!isLoggedIn" class="avatar-circle">
      <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="Login" width="24">
    </a>

    <div class="avatar-circle-dropdown" *ngIf="isLoggedIn">
      <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="Avatar" width="24">

      <div class="dropdown-menu">
        <a routerLink="/profile">Dati Personali</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</header>
