<header class="top-bar">
  <div class="spacer"></div>

  <nav class="toggle-pill">
    <a routerLink="/dashboard"
       [class.active]="(router.url.includes('/dashboard') && !router.url.includes('/market')) || router.url.includes('/movimenti') || router.url.includes('/groups')"
       class="toggle-btn">
      Gestione Finanze
    </a>

    <a routerLink="/market"
       [class.active]="router.url.includes('/market')"
       class="toggle-btn">
      Investimenti
    </a>
  </nav>

  <div class="user-profile">

    <ng-container *ngIf="!isLoggedIn">
      <span class="login-label">Accedi</span>
      <a routerLink="/login" class="avatar-circle-btn">
        <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="Login">
      </a>
    </ng-container>

    <div class="logged-user-container" *ngIf="isLoggedIn">

      <div class="avatar-circle-btn" (click)="toggleMenu()">
        <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="Avatar">
      </div>

      <div class="dropdown-menu" *ngIf="showMenu">
        <a routerLink="/profilo" (click)="closeMenu()">Dati Personali</a>
        <div class="menu-divider"></div>
        <a (click)="logout()" class="logout-text">Logout</a>
      </div>

    </div>
  </div>
</header>
